.Resource {
  width: 95%;
  min-width: 250px;
  max-width: 500px;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 1rem;
}

.resource-heading {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
