.VideoThumbnailCard {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
}
/* .video-card-thumbnail-container {
  width: 100%;
  min-width: 250px;
  min-height: 180px;
  height: auto;
  max-height: 15rem;
  overflow: hidden;
  position: relative;
} */
.video-card-thumbnail-container {
  display: block;
  min-width: 250px;
  min-height: 150px;
  max-width: 500px;
  max-height: 300px;
  background-color: gray;
  overflow: hidden;
  position: relative;
}
.video-card-thumbnail {
  width: 100%;
  object-fit: cover;
}

.video-card-detail {
  display: flex;
  padding: 0.8rem 0 1rem 1rem;
}

.video-card-detail-image {
  height: 2rem;
  width: 2rem;
  border-radius: 2.3rem;
  background-color: gray;
  object-fit: cover;
}

.video-card-detail-text {
  padding: 0 1rem;
}
.video-card-detail-text > div {
  padding-top: 0.5rem;
  font-size: 0.85rem;
  color: #555;
  /* display: flex; */
}
.video-card-detail-text > div > h4:hover {
  color: #000;
}
/* .video-card-detail-text > div > h3 {
  opacity: 0.8;
}
.video-card-detail-text > div > h4 {
  opacity: 0.8;
}
.video-card-detail-text > div > p {
  font-size: 0.9rem;
  opacity: 0.8;
}
.video-card-detail-text > div > h4:hover {
  opacity: 1;
} */
